@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lato&family=M+PLUS+Rounded+1c:wght@900&family=Roboto:ital,wght@0,900;1,300&display=swap');
*,
*::before,
*::after{
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Aboreto', cursive;
    background-color: #000;
}
a{
    text-decoration: none;
    color: #fff;
}
li{
    list-style: none;
}
.main-header{
    display: flex;
    position: fixed;
    top: 35px;
    z-index: 3;
}
.main-header .logo-div{
    position: relative;
    left: 10%;
}
.header-menu{
    position: relative;
    left: 12%;
    right: 25%;
}
.header-menu ul{
    display: flex;
    margin-top: 8px;
}
.header-menu ul li{
    position: relative;
    margin-right: 20px;
    padding-bottom: 2px;
}
.header-menu ul li a{
    font-weight: bold !important;
    font-size: 15px;
}
.shop-menu{
    position: relative;
    left: 35%;
    margin-top: 8px;
    height: 21px;
    font-weight: bold !important;
}
.shop-menu a{
    font-size: 15px !important;
    margin-bottom: 0;
}
#logo-img{
    display: block;
    width: 210px;
    height: auto;
}
.hamburger{
    position: fixed;
    top: 46px;
    right: 40px;
    z-index: 16;
    background-color: none;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.line1,
.line2,
.line3{
    position: absolute;
    width: 17px;
    height: 2px;
    top: 0;
    left: 0;
    background-color: #fff;
    transition: all 0.6s;
}
.line2{
    margin-top: 5px;
}
.line3{
    margin-top: 10px;
}
.header-hover::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #fff;
    height: 1px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
    transform-origin: right center;
}
.header-hover:hover::after{
    transform: scaleY(1);
    transform-origin: left center;
    transition-duration: 0.2;
}
section{
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.section-first{
    background-image: url('img/first-img.webp');
}
.section-second{
    background-image: url('img/second-img.webp');
}
.section-third{
    background-image: url('img/third-img\ \(1\).webp');
}
.section-fourth{
    background-image: url('img/fourth-img.webp');
}
.section-falcon9{
    background-image: url('img/f9_feature.webp');
}
.first-sec-content{
    position: absolute;
    bottom: 100px;
    left: 8%;
    max-width: 550px;
}
.first-sec-content h4{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    animation: fadeInUp 0.8s ease-in-out 0.4s;
    animation-fill-mode: both;
}
.first-sec-content h2{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 20px;
    animation: fadeInUp 0.8s ease-in-out 0.5s;
    animation-fill-mode: both;
}
.hover-div{
    position: relative;
    border: 2px solid #fff;
    min-width: 130px;
    text-align: center;
    display: inline-block;
    padding: 15px 40px;
    cursor: pointer;
    overflow: hidden;
    z-index: 2;
    animation: fadeInUp 0.8s ease-in-out 0.6s;
    animation-fill-mode: both;
}
.falcon9-sec-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    text-align: center;
}
.falcon9-sec-content h2{
    font-size: 100px;
    font-weight: bold !important;
    animation: fadeInUp 0.8s ease-in-out 0.5s;
    animation-fill-mode: both;
}

.falcon9-sec-content h4{
    font-size: 17px;
    animation: fadeInUp 0.8s ease-in-out 0.8s;
    animation-fill-mode: both;
}
.fade-animation{
    animation: fadeInUp 0.8s ease-in-out 0.8s;
    animation-fill-mode: both;
}
.counter-div{
    display: flex;
    justify-content: space-evenly;
    padding: 10px 30px;
}
.total-launch,
.total-landing,
.total-reflight{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter1,
.counter2,
.counter3{
    font-size: 160px;
}
.counter-title{
    font-size: 24px;
    font-weight: 800;
}
.hover-div span{
    font-weight: 800;
}
.hover-div .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    height: 100%;
    z-index: -1;
    transform: translateY(100%);
    transition: transform 0.2s ease;

}
.hover-div:hover span{
    color: #000;
}
.hover-div:hover .hover{
    transform: translateY(0);
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.scroll-arrow{
    position: absolute;
    left: 50%;
    bottom: 50px;
    animation: fadeDown 3s infinite 0.6s;
}
@keyframes fadeDown{
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
footer{
    position: relative;
    padding: 40px;
}
footer ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
footer ul li {
    padding: 0 15px;
}
footer ul li a{
    font-weight: 700;
    font-size: 12px;
    color: #fff;
    transition: color 0.5s;
}
footer ul li a:hover{
    color: #aaa;
}
#spacex-footer{
    color: #ccc;
    font-size: 12px;
}
.stop-scroll{
    overflow: hidden;
}
.overlay{   
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    z-index: 4;
    background-color: #000;
    transform: translateX(100%);
    transition: transform 0.5s ease;
}
.overlay ul{
    color: #fff;
    padding-top: 100px;
    padding-right: 28px;
    padding-left: 38px;
}
.overlay ul li{
    padding: 10px;
    text-align: right;
    border-bottom: 1px solid #555;
    width: 100%;
}
.overlay ul li a:hover{
    color: #555;
    transition: color 0.6s;
}
.li-mobile-menu{
    display: none;
}
.overlay-menu{
    transform: translateX(0);
}
.menu-ham .line2{
    display: none;
}
.menu-ham .line1{
    transform: rotate(45deg) translateY(7px);
}
.menu-ham .line3{
    transform: rotate(-45deg) translateY(-6px);
}
.falcon9-body{
    animation: op 1s ease;    
}
.nav-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #000;
    z-index: 3;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}
.nav-overlay-scroll{
    transform: translateY(0);
}
@keyframes op{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@media (max-width: 1199px){
    .header-hover{
        display: none;
    }
    #logo-img{
        width: 150px;
    }
    .li-mobile-menu{
        display: block;
    }
}
@media (max-width:600px){
    .first-sec-content{
        left: 5%;
        max-width: 350px;
    }
    .first-sec-content h4{
        font-size: 17px;
    }
    .first-sec-content h2{
        font-size: 30px;
    }
    #spacex-footer{
        position: absolute;
        top: 20px;
    }
    footer ul li {
        padding: 5px;
    }
    footer{
        padding: 37px;
    }
    footer ul{
        padding-top: 10px;
    }
    .falcon9-sec-content h2{
        font-size: 40px;
        margin-bottom: 15px;
        font-weight: bold !important;
    }
    .falcon9-sec-content h4{
        font-size: 14px;
        font-weight: bold !important;
    }
    .counter1,
    .counter2,
    .counter3{
        font-size: 70px;
    }
    .counter-title{
        font-size: 10px;
    }
    .falcon9-sec-content{
        left: 40%;
        transform: translate(-33%,-60%);
    }
    .counter-area{
        margin: 0 10px;
    }
    .counter-div{
        padding: 20px;
    }
}